<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>memberListServlet</servlet-name>
		<servlet-class>com.jsp.controller.MemberListServlet</servlet-class>
		<init-param>
			<param-name>sqlSessionFactory</param-name>
			<param-value>com.jsp.datasource.OracleMybatisSqlSessionFactory</param-value>
		</init-param>
		<init-param>
			<param-name>memberDAO</param-name>
			<param-value>com.jsp.dao.MemberDAOImpl</param-value>
		</init-param>
		<init-param>
			<param-name>memberService</param-name>
			<param-value>com.jsp.service.MemberServiceImpl</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>memberListServlet</servlet-name>
		<url-pattern>/member/list</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>memberDetailServlet</servlet-name>
		<servlet-class>com.jsp.controller.MemberDetailServlet</servlet-class>
		<init-param>
			<param-name>sqlSessionFactory</param-name>
			<param-value>com.jsp.datasource.OracleMybatisSqlSessionFactory</param-value>
		</init-param>
		<init-param>
			<param-name>memberDAO</param-name>
			<param-value>com.jsp.dao.MemberDAOImpl</param-value>
		</init-param>
		<init-param>
			<param-name>memberService</param-name>
			<param-value>com.jsp.service.MemberServiceImpl</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>memberDetailServlet</servlet-name>
		<url-pattern>/member/detail</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>memberUpdateServlet</servlet-name>
		<servlet-class>com.jsp.controller.MemberUpdateServlet</servlet-class>
		<init-param>
			<param-name>sqlSessionFactory</param-name>
			<param-value>com.jsp.datasource.OracleMybatisSqlSessionFactory</param-value>
		</init-param>
		<init-param>
			<param-name>memberDAO</param-name>
			<param-value>com.jsp.dao.MemberDAOImpl</param-value>
		</init-param>
		<init-param>
			<param-name>memberService</param-name>
			<param-value>com.jsp.service.MemberServiceImpl</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>memberUpdateServlet</servlet-name>
		<url-pattern>/member/update</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MemberDeleteServlet</servlet-name>
		<servlet-class>com.jsp.controller.MemberDeleteServlet</servlet-class>
		<init-param>
			<param-name>sqlSessionFactory</param-name>
			<param-value>com.jsp.datasource.OracleMybatisSqlSessionFactory</param-value>
		</init-param>
		<init-param>
			<param-name>memberDAO</param-name>
			<param-value>com.jsp.dao.MemberDAOImpl</param-value>
		</init-param>
		<init-param>
			<param-name>memberService</param-name>
			<param-value>com.jsp.service.MemberServiceImpl</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberDeleteServlet</servlet-name>
		<url-pattern>/member/delete</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>MemberInsertServlet</servlet-name>
		<servlet-class>com.jsp.controller.MemberInsertServlet</servlet-class>
		<init-param>
			<param-name>sqlSessionFactory</param-name>
			<param-value>com.jsp.datasource.OracleMybatisSqlSessionFactory</param-value>
		</init-param>
		<init-param>
			<param-name>memberDAO</param-name>
			<param-value>com.jsp.dao.MemberDAOImpl</param-value>
		</init-param>
		<init-param>
			<param-name>memberService</param-name>
			<param-value>com.jsp.service.MemberServiceImpl</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberInsertServlet</servlet-name>
		<url-pattern>/member/insert</url-pattern>
	</servlet-mapping>
	
</web-app>